html, body {
	margin: 0;
	padding: 0;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background-color: #ededed;
}

nav {
	position: relative;
	background-color: #fff;
	box-shadow: 0 1px 2px grey;
}

nav ul {
	margin: 0;
}

nav ul li {
	list-style-type: none;
	display: inline-block;
	margin: 0;
	padding: 10px;
}

nav a {
	text-decoration: none;
	color: #000;
}

a#addPlaylist {
	width: 1em;
	height: 1em;
	text-decoration: none;
}

a#addPlaylist button {
	float: right;
	margin-right: 50px;
}

form {
	margin: 0;
}

input[name=search] {
	float: right;
	width: 20%;
	padding: 5px;
	margin: 5px;
	margin-right: 45px;
}

input[name=accept], input[name=decline] {
	font-size: .1em;
}

form[name=handleRelationship] {
	float: right;
}

input#browse {
	float: none;
	width: 100%;
	margin: 0 auto;
}

table {
	width: 100%;
}

table td {
	padding: 10px;
	vertical-align: top;
}

ul {
	margin: 0;
	margin-left: 20px;
	padding: 0;
}

ul {
	list-style: none;
}

ul#messages {
	list-style: none;
	margin: 0;
	padding: 0;
}

div#content {
	position: relative;
	width: 100%;
}

h1 {
	margin: 10px;
	text-align: center;
	text-shadow: 0 1px 2px grey;
}

h2 {
	margin: 10px 0;
	font-size: 1.2em;
}

.container {
	position: relative;
	padding: 10px 50px 50px 50px;
}

.media {
	position: relative;
	border: 1px solid grey;
	border-radius: 2px;
	width: 30%;
	height: 30vh;
	margin: 1%;
	display: inline-block;
}

.media label {
	font-size: 1em;
	font-weight: bold;
	margin: 10px;
}

.media .media-container {
	
}

.media p {
	font-size: .5em;
	margin: 0;
	padding: 10px;
}

.media-item {

}

.panel {
	padding: 10px;
	margin: 0 0 20px 0;
	border: 1px solid #000;
	box-shadow: 2px 2px grey;
	border-radius: 5px;
}

.panel h2 {
	margin: 0 0 10px 0;
}

.panel p {
	margin: 0 0 10px 0;
}

footer {
	text-align: center;
	width: 100%;
	font-size: .5em;
}
