<h1>Welcome to MeTube</h1>

<div class="container">
	<div class="media">
		<div class="media-container"></div>
		<label>Media 1</label>
		<p>Media's description</p>
	</div>
	<div class="media">
		<div class="media-container"></div>
		<label>Media 2</label>
		<p>Media's description</p>
	</div>
	<div class="media">
		<div class="media-container"></div>
		<label>Media 3</label>
		<p>Media's description</p>
	</div>
	<div class="media">
		<div class="media-container"></div>
		<label>Media 4</label>
		<p>Media's description</p>
	</div>
	<div class="media">
		<div class="media-container"></div>
		<label>Media 5</label>
		<p>Media's description</p>
	</div>
	<div class="media">
		<div class="media-container"></div>
		<label>Media 6</label>
		<p>Media's description</p>
	</div>
</div>