<h1>Account Page</h1>
<p>_:_MESSAGE_:_</p>
<div class="container">
    <div class="panel">
        <form action="user.php" method="POST">
            <p>Email: _:_EMAIL_:_</p>
            <hr>
            <h2>Change your email</h2>
            <p>
                <label>New Email:</label>
                <input type="text" name="email" placeholder="New Email Address" />
            </p>
            <input type="submit" value="Update Email" name="edit-email" />
        </form>
    </div>

    <div class="panel">
        <form action="user.php" method="POST">
            <h2>Change your password</h2>
            <p>
                <label>New password:</label>
                <input type="password" name="password" placeholder="New Password" />
            </p>
            <p>
                <label>Confirm new password:</label>
                <input type="password" name="password-conf" placeholder="Confirm New Password" />
            </p>
            <input type="submit" value="Update Password" name="edit-password"/>
        </form>
    </div>

    <div class="panel">
        <form action="user.php" method="POST">
            <p>Username: _:_USERNAME_:_</p>
            <hr>
            <h2>Change your username</h2>
            <p>
                <label>New Username:</label>
                <input type="text" name="username" placeholder="New Username" />
            </p>
            <input type="submit" value="Update Username" name="edit-username" />
        </form>
    </div>
</div>