<html>
	<head>
		<title>MeTube</title>
		<link rel="stylesheet" type="text/css" href="css/layout.css"/>
	</head>
	<body>
		<nav>
			<form action="browse.php" action="GET">
				<input name="search" placeholder="Search"/>
			</form>
			<ul>
				<li><a href="index.php">Home</a></li>
				<li><a href="browse.php">Browse</a></li>
				<li><a href="playlist.php">Playlists</a></li>
				<li><a href="profile.php">Profile</a></li>
				<li><a href="upload.php">Upload</a></li>
				<li><a href="user.php?logout=true">Logout</a></li>

			</ul>
		</nav>
		<div id="content">
			_:_CONTENT_:_
		</div>
		<footer>MeTube - 4620 Project - Ben Hudson & Dylan Pruitt - 2015</footer>
	</body>
</html>
