<h1>_:_USERNAME_:_ Profile Page</h1>
<form action="profile.php?userid=_:_ID_:_" method="POST">
	_:_SUBSCRIBE_:_
</form>
<div class="container">
	<table><tbody><tr><td>
		<p>
			<b>Email:</b>
			_:_EMAIL_:_
		</p>
		<p>
			<b>Description</b>
			<br>
			_:_DESCRIPTION_:_
		</p>

		<a href="account.php">Account Settings</a>
		<br>
		<a href="relationships.php">Friend/Foe List</a>
		<br>
		<a href="messages.php">Messages</a>
		<br>
		<a href="playlist.php">Playlists</a>
	</td><td>
		<h2>Your Uploaded Media</h2>
		<ul>
		    _:_MEDIA_:_
		</ul>
	</td></tr></tbody></table>
	<h2>Favorites</h2>
	<ul>
	    _:_FAVORITES_:_
	</ul>
</div>