<h1>Your Relationships</h1>
<p>_:_MESSAGE_:_</p>
<div class="container">
	<table>
		<tbody><tr><td>
			<form action="relationships.php" method="POST" class="panel">
				<h2>Add New</h2>
				<p>
					<label for="user">Username</label>
					<input name="username" type="text" placeholder="Type username"/>
				</p>
				<p>
					<label for="type">Relationship Type</label>
					<select name="type">
						<option value="NULL">---</option>
						<option value="0">Friend</option>
						<option value="2">Foe</option>
					</select>
				</p>
				<input name="addRelationship" type="submit" value="Add"/>
			</form>
		</td><td class="panel">
			<h2>Pending Requests</h2>
			<ul>_:_PENDING_:_</ul>

			<br>

			<h2>Friends</h2>
			<ul>_:_FRIENDS_:_</ul>

			<br>
			
			<h2>Foes</h2>
			<ul>_:_FOES_:_</ul>
		</td></tr></tbody>
	</table>
</div>