<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <h1>Login</h1>
        <form action="user.php" method="POST">
            <label>Email</label>
            <input type="text" name="email"/>
            <label>Password</label>
            <input type="password" name="password"/>
            <input type="submit" name="login" value="Log In"/>
        </form>
        <h1>Register</h1>
        <form action="user.php" method="POST">
            <label>Email</label>
            <input type="text" name="email"/>
            <label>Password</label>
            <input type="password" name="password"/>
            <label>Confirm Password</label>
            <input type="password" name="password-conf"/>
            <input type="submit" name="register" value="Register"/>
        </form>
    </body>
</html>