<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <table><tbody><tr><td>
            <form action="user.php" method="POST" class="panel">
                <h1>Login</h1>
                <p>
                    <label>Email</label>
                    <br>
                    <input type="text" name="email"/>
                </p>
                <p>
                    <label>Password</label>
                    <br>
                    <input type="password" name="password"/>
                </p>
                <input type="submit" name="login" value="Log In"/>
            </form>
        </td><td>
            <form action="user.php" method="POST" class="panel">
                <h1>Register</h1>
                <p>
                    <label>Email</label>
                    <br>
                    <input type="text" name="email"/>
                </p>
                <p>
                    <label>Password</label>
                    <br>
                    <input type="password" name="password"/>
                </p>
                <p>
                    <label>Confirm Password</label>
                    <br>
                    <input type="password" name="password-conf"/>
                </p>
                <input type="submit" name="register" value="Register"/>
            </form>
        </td></tr></tbody></table>
    </body>
</html>